
body{

}
.tilte{
    font-size:1.3rem;
    letter-spacing: 0.5rem;
    margin-left: 3rem;
  }
  .main{

    height:35rem;
    position: relative;
    top: -20px; 
    margin: 0 auto;
    
  }
  .name{
    margin-left: 3rem;
    color: cornflowerblue;
  }
  
  .date{
    margin-left: 1.5rem;
    color:rgb(155, 155, 155);
    display: inline;
  }
  .page-section-gap{
    box-sizing: border-box;
    /* padding: 0 30rpx; */
  }
  .bj{
    width: 23rem;
    height: 22rem; 
  
  }
  
  .bj-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
   
  }
  
  .wx{
    position: relative;
    top:-17.5rem;
    width: 11rem;
    height: 11rem;
  }

  .yue{
    position: relative;
    top: -9rem;
    left:2rem;
    color:grey;
    font-family: '微软雅黑';
  }

  @media only screen and (max-width:1080px){
    body{
     width: 100%;
    }
    .tilte{
        font-size:3rem;
        letter-spacing: 0.5rem;
        margin-left: 3rem;
      }
      .main{
        height:60rem;
        width: 100%;
        position: relative;
        top: -3rem; 
        margin: 0 auto;
        
        
      }
      .name{
        margin-left: 5rem;
        color: cornflowerblue;
        font-size: 1.8rem;
      }
      
      .date{
        margin-left: 1.5rem;
        color:rgb(155, 155, 155);
        display: inline;
      }
      .bj{
        width: 50rem;
        height: 40rem; 
      
      }
      
      .bj-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 5rem;
       
      }
      
      .wx{
        position: relative;
        top:-31.5rem;
        width: 20rem;
        height: 20rem;
      }
    
      .yue{
        position: relative;
        top: -18rem;
        width: auto;
        left:5rem;
        color:grey;
        font-size:2rem;
        font-family: '微软雅黑';
      }
      html{
        width: 100%;
      }
  }
  